body {
#p1 {background-color:hsla(212, 75%, 49%, 0.3);}
#p2 {background-color:hsla(216, 100%, 75%, 0.3);}
#p3 {background-color:hsla(201, 100%, 25%, 0.3);}
#p4 {background-color:hsla(211, 59%, 70%, 0.3);}
#p5 {background-color:hsla(221, 100%, 50%, 0.3);}
#p6 {background-color:hsla(224, 59%, 70%, 0.3);}
}



